.about {
  background-color: var(--cart-bg);
  color: var(--color-pharagraph);
  font-weight: var(--font-weightPharagraph);
  padding-bottom: 25px;

  .row {
    display: flex;
    flex-direction: column;
    margin: 20px 30px 0 30px;

    .text-about {
      line-height: 1.7;
      font-size: 15px;
    }

    .info-list {
      line-height: 1.7;
      margin-top: 15px;

      ul {
        list-style: none;

        span {
          color: var(--colorText);
          font-size: 13px;
          text-transform: uppercase;
          font-weight: var(--font-weight-spanAbout);
        }
      }
    }
  }

  .fan-fact {
    position: relative;
    display: flex;
  }

  .fact-items {
    .fact-item {
      margin: 30px 0px 0px 20px;
      display: flex;
      flex-direction: column;
      max-width: 90%;
      line-height: 1.6em;

      .fa-icon {
        font-size: 1.4rem;
        color: var(--green-color);
        margin-left: 15px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: -10px;
          bottom: -10px;
          width: 45px;
          height: 45px;
          background: linear-gradient(
            to left,
            rgba(252, 253, 252, 0),
            var(--green-color)
          );
          border-radius: 50%;
          z-index: 1;
          opacity: 0.2;
        }
      }

      .fact-name {
        color: var(--colorText);
        font-weight: var(--font-weight-factRight);
        margin-top: 25px;
        font-size: 17px;
        margin-left: 13px;
      }

      .grey-text {
        margin-left: 13px;
        margin-bottom: 5px;
        position: relative;
        font-size: 15px;
      }
    }
  }

  //TABLET

  @include media(">800px", "<=desktop") {
    .row {
      margin: 8px 40px 0 30px;

      .text-about {
        line-height: 1.8em;
        font-size: 1rem;
      }

      .info-list {
        ul {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
        }
      }
    }
  }

  //DESKTOP

  @include media(">=desktop") {
    #content-about {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow-x: hidden;
    }

    .row {
      display: flex;
      flex-direction: column;
      margin: 12px 40px 0 30px;

      .text-about {
        line-height: 1.8em;
        font-size: 1rem;
      }

      .info-list {
        ul {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;

          span {
            font-size: 14px;
          }
        }
      }
    }

    .fact-items {
      display: grid;
      grid-template-columns: 50% 45%;
      justify-content: center;

      .fact-item {
        max-width: 70%;
        line-height: 1.8em;

        .fa-icon {
          font-size: 1.7rem;
          margin-left: 14px;

          &::after {
            content: "";
            position: absolute;
            left: -15px;
            bottom: -15px;
            width: 60px;
            height: 60px;
          }
        }

        .fact-name {
          margin-top: 10px;
        }

        .grey-text {
          margin-bottom: 20px;
          position: relative;
        }
      }
    }

    .fan-fact::after {
      content: "";
      margin: 340px 0px 0 115px;
      position: absolute;
      width: 70%;
      height: 2px;
      transform: rotate(90deg);
      background: var(--line-cart);
    }

    .grey-text::before {
      content: "";
      margin: 130px 0px 0px 0px;
      position: absolute;
      width: 150%;
      height: 1px;
      background: var(--line-cart);
    }
  }
}
