.projects {
  background-color: var(--cart-bg);
  display: none;

  .work-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    margin-top: 2rem;

    #work1 {
      img {
        @include worksImg;
      }
    }

    #work2 {
      img {
        @include worksImg;
      }
    }

    .workPharagraph {
      color: var(--colorText);
      padding: 0.8rem;
      font-weight: var(--font-weightPharagraph);
    }
  }

  i {
    display: none;
  }

  @include media("<=488px") {
    .work-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      #work1 {
        width: 80%;
      }
      #work2 {
        width: 80%;
      }
    }
  }

  @include media(">488px", "<1023px") {
    @include workContent;
  }

  @include media(">1023px", "<desktop") {
    @include titleWorksImg(252px 0px 0px -100px, 70%);

    @include workContent;
  }

  @include media(">=desktop") {
    @include titleWorksImg(307px 0px 0px -75px, 70%);

    .work-content {
      #work1 {
        width: 19rem;
        height: 24rem;
        margin-bottom: 4rem;
        img {
          @include worksImg;
        }
      }

      #work2 {
        width: 19rem;
        height: 13rem;
        img {
          @include worksImg;
        }
      }
    }

    figure.work-overlay {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: var(--bg);
      cursor: pointer;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
    .work-overlay * {
      box-sizing: border-box;
      transition: all 0.7s ease;

      i {
        font-size: 20px;
        font-weight: medium;
      }

      a {
        text-decoration: none;
        color: $white-text;
        font-size: 1rem;
      }

      .worksLink {
        position: absolute;
        bottom: 50%;
        opacity: 0;
      }
    }

    .work-overlay:hover img {
      opacity: 0.6;
      transform: scale(1.1);
    }
    figure.work-overlay:hover figcaption .worksLink {
      opacity: 1;
    }
  }
}
