html {
  --bg: linear-gradient(to bottom right, #50a3a2 0%, #78cc6d 100%);
  --colorText: #241f1f;
  --cart-bg: #ffff;
  --green-color: #0e8684;
  --line-cart: radial-gradient(ellipse at left, rgba(39, 41, 46, 0.2) 0%, rgba(20, 8, 8, 0) 70%);
  --box-shadow: rgba(214, 211, 211, 0.3);
  --box-shadow-left: rgba(128, 61, 14, 0.3);
  --resume-date-green: #047a3f;
  --resume-date-grey: #c7bcbc;
  --color-pharagraph: #646464;
  --top-menuLine: radial-gradient(ellipse at right, rgba(11, 14, 20, 0.15) 0%, rgba(24, 22, 22, 0) 70%);
  --mode-color: #5b5b5e;
  --avatar-border: transparent;
  --image-shadow: rgba(76, 119, 83, 0.4);
  --font-weight-leftTitle: 400;
  --font-weight-footer: 500;
  --font-weight-icon: 500;
  --font-weight-spanAbout: 600;
  --font-weight-factRight: 600;
  --font-weight-resumeName: 500;
  --font-weightPharagraph: 400;
  --font-weight-name: 500;
  --heading-weight: 600;
  --content: none;
  --left: 18px;
}

html[data-theme=dark] {
  --bg: linear-gradient(to bottom right, #17171b 0%, #28282f 100%);
  --colorText: rgba(255, 255, 255, 0.85);
  --cart-bg: #31313a;
  --green-color: #78cc6d;
  --line-cart: radial-gradient(ellipse at left, rgba(112, 112, 112, 0.603) 0%, rgba(255, 255, 255, 0) 70%);
  --box-shadow: rgba(37, 26, 26, 0.3);
  --box-shadow-left: rgba(49, 49, 58, 0.3);
  --resume-date-green: #78cc6d;
  --resume-date-grey: #666;
  --color-pharagraph: #ffffff8c;
  --top-menuLine: radial-gradient(ellipse at right, rgba(112, 112, 112, 0.603) 0%, rgba(255, 255, 255, 0) 70%);
  --mode-color: #78cc6d;
  --avatar-border: #31313a;
  --image-shadow: linear-gradient(135deg, rgba(48, 247, 22, 0.4) 0%, rgba(120, 204, 109, 0.01) 100%);
  --font-weight-leftTitle: 300;
  --font-weight-footer: 400;
  --font-weight-icon: 400;
  --font-weight-spanAbout: 500;
  --font-weight-factRight: 500;
  --font-weight-resumeName: 400;
  --font-weightPharagraph: 300;
  --font-weight-name: 400;
  --heading-weight: 500;
  --content: visible;
  --content-dark-none: none;
  --left: 20px;
}

/**
*
* Testing
*
**/
.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}
.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.box-area li:nth-child(2) {
  left: 12%;
  width: 60px;
  height: 50px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 4.5s;
}
.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 2.5s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-2000px) rotate(360deg);
    opacity: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--cart-bg);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.label {
  background-color: var(--cart-bg);
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  height: 60px;
  width: 74px;
}
.label .fa-moon {
  font-size: 0.8rem;
}
.label .ball {
  position: absolute;
  top: 20px;
  left: var(--left);
  height: 18px;
  width: 20px;
}
@media (max-width: 425px) {
  .label {
    width: 55px;
    font-size: 0.6rem;
    background: none;
  }
  .label .fa-moon {
    width: 19px;
    margin-top: -8px;
  }
  .label .ball {
    top: 30px;
    font-size: 0.65rem;
  }
}
@media (min-width: 425px) and (max-width: 552px) {
  .label {
    width: 55px;
    font-size: 0.7rem;
  }
  .label .fa-moon {
    width: 17px;
    margin-bottom: 10px;
  }
  .label .ball {
    top: 35px;
  }
}

.mode-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7px;
  font-size: 14px;
  color: var(--colorText);
  font-weight: var(--font-weight-icon);
  text-transform: uppercase;
}

.ball::before {
  content: "off";
  position: absolute;
  z-index: 5;
  color: var(--colorText);
  display: var(--content-dark-none);
}

.ball::after {
  content: "on";
  position: absolute;
  z-index: 5;
  color: var(--colorText);
  display: var(--content);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
body .container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 1023px) {
  body .container {
    display: block;
  }
}

.right-container .titles {
  font-size: 23px;
  color: var(--colorText);
  font-weight: var(--heading-weight);
  margin-top: 10px;
  padding: 30px 0px 20px 12px;
}
.right-container .titles .first-word {
  color: var(--green-color);
  margin-left: 10px;
}
.right-container .titles .first-word::before {
  content: "";
  position: absolute;
  left: 17px;
  margin-top: 5px;
  width: 30px;
  height: 30px;
  background: linear-gradient(to left, rgba(251, 252, 251, 0), var(--green-color));
  border-radius: 50%;
  z-index: 1;
  opacity: 0.4;
}
.right-container .titles::before {
  content: "";
  margin: 48px 0px 0px -100px;
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--line-cart);
}
@media (min-width: 1023px) and (max-width: 1365px) {
  .right-container {
    width: 36rem;
    height: 35.3rem;
    background-color: var(--cart-bg);
    position: relative;
    z-index: -1;
    overflow-x: hidden;
  }
  .right-container::before {
    content: "";
    position: fixed;
    z-index: 5;
    height: 560px;
    margin-left: -8px;
    box-shadow: 12px 0px 12px 2px var(--box-shadow);
  }
  .right-container .titles {
    padding: 17px;
  }
  .right-container .titles .first-word::before {
    content: "";
    position: absolute;
    left: 20px;
    margin-top: 5px;
  }
  .right-container .titles::before {
    content: "";
    margin: 50px 0px 0px -100px;
  }
  .right-container .title-line::after {
    content: "";
    margin: 250px 0px 0px -50px;
    position: absolute;
    width: 70%;
    height: 1.5px;
    transform: rotate(90deg);
    background: var(--line-cart);
  }
}
@media (min-width: 1366px) {
  .right-container {
    width: 46rem;
    height: 38.3rem;
    background-color: var(--cart-bg);
    position: relative;
    z-index: -1;
    overflow-x: hidden;
  }
  .right-container::before {
    content: "";
    position: fixed;
    z-index: 5;
    height: 610px;
    margin-left: -8px;
    box-shadow: 12px 0px 12px 2px var(--box-shadow);
  }
  .right-container .titles {
    padding: 17px;
  }
  .right-container .titles .first-word::before {
    content: "";
    position: absolute;
    left: 20px;
    margin-top: 5px;
  }
  .right-container .titles::before {
    content: "";
    margin: 50px 0px 0px -100px;
  }
  .right-container .title-line::after {
    content: "";
    margin: 308px 0px 0px -25px;
    position: absolute;
    width: 70%;
    height: 1.5px;
    transform: rotate(90deg);
    background: var(--line-cart);
  }
  .right-container .bottom::after {
    content: "";
    background-color: var(--cart-bg);
    position: fixed;
    z-index: 2;
    width: 725px;
    height: 3.8%;
    margin-top: -1px;
    transform: rotate(180deg);
  }
  .right-container .bottom::before {
    content: "";
    background-color: var(--cart-bg);
    position: fixed;
    z-index: 2;
    width: 725px;
    height: 3.8%;
    margin-top: 36.5rem;
  }
}

.left-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--cart-bg);
  overflow: hidden;
}
.left-container .slide {
  height: 50%;
  width: 100%;
  background-image: url("https://st3.depositphotos.com/1184748/16121/v/600/depositphotos_161213072-stock-video-abstract-digital-vertical-and-horizontal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.3rem 0.3rem 0 0;
}
.left-container .slide::before {
  content: "";
  position: absolute;
  left: -25%;
  bottom: 27%;
  width: 100%;
  height: 25%;
  transform: rotate(10deg);
  background-color: var(--cart-bg);
}
.left-container .slide::after {
  content: "";
  position: absolute;
  right: -25%;
  bottom: 27%;
  width: 100%;
  height: 25%;
  background-color: var(--cart-bg);
  transform: rotate(-10deg);
}
.left-container .my-image {
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -110px;
}
.left-container .my-image #my-img {
  border-radius: 100%;
  border: solid 0.2rem var(--avatar-border);
  width: 100%;
  height: 100%;
  position: relative;
}
.left-container .left-container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  position: relative;
}
.left-container .left-container-text .title {
  font-size: 25px;
  font-weight: var(--font-weight-leftTitle);
  color: var(--colorText);
}
.left-container .left-container-text .subtitle {
  margin-top: 0.6rem;
  text-align: center;
  font-size: 16px;
  color: var(--green-color);
  animation: yourName 3000ms ease-in-out 0s forwards;
}
@keyframes yourName {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.left-container .left-container-text .fab {
  color: var(--colorText);
  padding: 8px;
  margin-top: 0.8rem;
  font-size: large;
}
.left-container .footer-left {
  display: flex;
  justify-content: space-around;
  margin-top: 9em;
  color: var(--colorText);
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: var(--font-weight-footer);
}
.left-container .footer-left::before {
  content: "";
  margin-top: 8px;
  position: absolute;
  width: 15.5%;
  height: 1px;
  transform: rotate(90deg);
  background: var(--line-cart);
}
.left-container .footer-left::after {
  content: "";
  margin-top: -20px;
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--line-cart);
}
@media (max-width: 373px) {
  .left-container {
    min-height: 600px;
    max-height: 600px;
  }
}
@media (min-width: 374px) and (max-width: 425px) {
  .left-container {
    min-height: 680px;
    max-height: 680px;
  }
  .left-container .my-image {
    width: 160px;
  }
  .left-container .footer-left {
    margin-top: 13em;
  }
  .left-container .footer-left::before {
    content: "";
    margin-top: 80px;
  }
}
@media (min-width: 425px) and (max-width: 525px) {
  .left-container {
    min-height: 625px;
    max-height: 625px;
  }
  .left-container .my-image {
    width: 160px;
  }
  .left-container .my-image #my-img {
    margin-left: 10px;
    max-width: 600px;
  }
  .left-container .footer-left {
    margin-top: 100px;
    font-size: 13px;
  }
  .left-container .footer-left::before {
    content: "";
    width: 55px;
  }
}
@media (min-width: 526px) and (max-width: 565px) {
  .left-container {
    min-height: 625px;
    max-height: 625px;
  }
  .left-container .my-image {
    width: 160px;
  }
  .left-container .my-image #my-img {
    margin-left: 10px;
    max-width: 700px;
  }
  .left-container .footer-left {
    margin-top: 100px;
    font-size: 13px;
  }
  .left-container .footer-left::before {
    content: "";
    width: 55px;
  }
}
@media (min-width: 566px) and (max-width: 805px) {
  .left-container {
    min-height: 625px;
    max-height: 625px;
  }
  .left-container .my-image {
    width: 200px;
  }
  .left-container .my-image #my-img {
    margin-left: 10px;
    max-width: 700px;
  }
  .left-container .footer-left {
    margin-top: 70px;
    font-size: 13px;
  }
  .left-container .footer-left::before {
    content: "";
    width: 55px;
  }
  .left-container .slide::before {
    content: "";
    left: -20%;
  }
  .left-container .slide::after {
    content: "";
    right: -20%;
  }
}
@media (min-width: 806px) and (max-width: 1005px) {
  .left-container {
    min-height: 625px;
    max-height: 625px;
  }
  .left-container .my-image {
    width: 210px;
  }
  .left-container .my-image #my-img {
    margin-left: 10px;
    max-width: 700px;
  }
  .left-container .slide {
    height: 250px;
  }
  .left-container .slide::before {
    content: "";
    bottom: 250px;
  }
  .left-container .slide::after {
    content: "";
    bottom: 250px;
  }
  .left-container .footer-left {
    margin-top: 100px;
    font-size: 16px;
  }
  .left-container .footer-left::before {
    content: "";
    width: 55px;
  }
}
@media (min-width: 1006px) and (max-width: 1022px) {
  .left-container {
    min-height: 625px;
    max-height: 625px;
  }
  .left-container .my-image {
    width: 210px;
  }
  .left-container .my-image #my-img {
    margin-left: 10px;
    max-width: 700px;
  }
  .left-container .slide {
    height: 250px;
  }
  .left-container .slide::before {
    content: "";
    bottom: 250px;
  }
  .left-container .slide::after {
    content: "";
    bottom: 250px;
  }
  .left-container .footer-left {
    margin-top: 100px;
    font-size: 16px;
  }
  .left-container .footer-left::before {
    content: "";
    width: 55px;
  }
  .left-container .footer-left::after {
    content: "";
    width: 100%;
  }
}
@media (min-width: 1023px) and (max-width: 1366px) {
  .left-container {
    max-width: 25.25rem;
    height: 38rem;
    border-radius: 0.3rem;
    box-shadow: -10px -10px 0px 2px var(--box-shadow-left);
  }
  .left-container .my-image #my-img {
    border-radius: 100%;
    border: solid 0.2rem var(--avatar-border);
    width: 100%;
    height: 150px;
    position: relative;
  }
  .left-container .left-container-text .title {
    font-size: 34px;
  }
  .left-container .left-container-text .subtitle {
    margin-top: 0.6rem;
    font-size: 18px;
  }
  .left-container .footer-left {
    margin-top: 80px;
    font-size: 0.9em;
  }
  .left-container .footer-left .cv,
.left-container .footer-left .contact {
    transition: 0.2s;
    cursor: pointer;
  }
  .left-container .footer-left .cv:hover,
.left-container .footer-left .contact:hover {
    color: var(--green-color);
    font-weight: var(--font-weight-footer);
    transition-timing-function: ease-in;
  }
  .left-container .footer-left::before {
    content: "";
    margin-top: 20px;
  }
}
@media (min-width: 1367px) {
  .left-container {
    width: 31.25rem;
    height: 40.5rem;
    border-radius: 0.3rem;
    box-shadow: -10px -10px 0px 2px var(--box-shadow-left);
  }
  .left-container .my-image {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -110px;
  }
  .left-container .my-image #my-img {
    border-radius: 100%;
    border: solid 0.2rem var(--avatar-border);
    width: 100%;
    height: 150px;
    position: relative;
  }
  .left-container .my-image::before {
    content: "";
    position: absolute;
    top: 34.6%;
    left: 169.5px;
    width: 29%;
    height: 150px;
    border-radius: 100%;
    background: var(--image-shadow);
  }
  .left-container .left-container-text .title {
    font-size: 34px;
  }
  .left-container .left-container-text .subtitle {
    margin-top: 0.6rem;
    font-size: 18px;
  }
  .left-container .footer-left {
    margin-top: 22%;
    font-size: 0.9em;
  }
  .left-container .footer-left .cv,
.left-container .footer-left .contact {
    transition: 0.2s;
    cursor: pointer;
  }
  .left-container .footer-left .cv:hover,
.left-container .footer-left .contact:hover {
    color: var(--green-color);
    font-weight: var(--font-weight-footer);
    transition-timing-function: ease-in;
  }
  .left-container .footer-left::before {
    content: "";
    margin-top: 20px;
  }
}

.top-menu {
  margin: 5px;
  position: absolute;
  z-index: 5;
}
.top-menu ul {
  border: 1.5px solid grey;
  list-style: none;
  border-radius: 0.3rem;
}
.top-menu ul .nav a {
  color: var(--colorText);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 0.2rem 0rem 0.2rem;
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: var(--font-weight-icon);
  transition: 0.2s;
}
.top-menu ul .nav a .link {
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
.top-menu ul .nav a .fas {
  margin-bottom: 0.4rem;
}
.top-menu ul .nav a:hover {
  color: var(--green-color);
  transition-timing-function: ease-in;
  font-weight: var(--font-weight-icon);
}
.top-menu ul .nav .underline::after {
  content: "";
  cursor: pointer;
  margin-top: 90%;
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--top-menuLine);
}
@media (max-width: 425px) {
  .top-menu {
    display: flex;
    background-color: var(--cart-bg);
    height: 52px;
    position: fixed;
    margin-left: 0;
    box-shadow: 8px 0px 12px 2px rgba(196, 193, 193, 0.3);
    margin-top: 0;
  }
  .top-menu ul {
    border: none;
    display: flex;
    width: 84.5vw;
    margin-right: 10.5px;
  }
  .top-menu ul li {
    width: 100%;
  }
  .top-menu ul .nav {
    padding: 0rem;
  }
  .top-menu ul .nav a {
    font-size: 1rem;
    margin-top: -0.8rem;
  }
  .top-menu ul .nav a .link {
    font-size: 0.65rem;
  }
  .top-menu .underline::after {
    content: "";
    display: none;
  }
}
@media (min-width: 425px) and (max-width: 552px) {
  .top-menu ul {
    background-color: var(--cart-bg);
  }
  .top-menu ul .nav {
    padding: 0;
  }
  .top-menu ul .nav a {
    font-size: 1rem;
  }
  .top-menu ul .nav a .link {
    font-size: 0.65rem;
  }
  .top-menu ul .nav a .link4 {
    padding-bottom: 25px;
  }
}
@media (min-width: 553px) and (max-width: 1022px) {
  .top-menu ul {
    background-color: var(--cart-bg);
  }
}
@media (min-width: 1023px) {
  .top-menu {
    position: relative;
    height: 40.25rem;
    padding: 0.4em;
    z-index: 1;
  }
  .top-menu ul {
    background-color: var(--cart-bg);
    border: none;
  }
  .top-menu .menuHover {
    color: var(--green-color) !important;
  }
}

.about {
  background-color: var(--cart-bg);
  color: var(--color-pharagraph);
  font-weight: var(--font-weightPharagraph);
  padding-bottom: 25px;
}
.about .row {
  display: flex;
  flex-direction: column;
  margin: 20px 30px 0 30px;
}
.about .row .text-about {
  line-height: 1.7;
  font-size: 15px;
}
.about .row .info-list {
  line-height: 1.7;
  margin-top: 15px;
}
.about .row .info-list ul {
  list-style: none;
}
.about .row .info-list ul span {
  color: var(--colorText);
  font-size: 13px;
  text-transform: uppercase;
  font-weight: var(--font-weight-spanAbout);
}
.about .fan-fact {
  position: relative;
  display: flex;
}
.about .fact-items .fact-item {
  margin: 30px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  line-height: 1.6em;
}
.about .fact-items .fact-item .fa-icon {
  font-size: 1.4rem;
  color: var(--green-color);
  margin-left: 15px;
  position: relative;
}
.about .fact-items .fact-item .fa-icon::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -10px;
  width: 45px;
  height: 45px;
  background: linear-gradient(to left, rgba(252, 253, 252, 0), var(--green-color));
  border-radius: 50%;
  z-index: 1;
  opacity: 0.2;
}
.about .fact-items .fact-item .fact-name {
  color: var(--colorText);
  font-weight: var(--font-weight-factRight);
  margin-top: 25px;
  font-size: 17px;
  margin-left: 13px;
}
.about .fact-items .fact-item .grey-text {
  margin-left: 13px;
  margin-bottom: 5px;
  position: relative;
  font-size: 15px;
}
@media (min-width: 801px) and (max-width: 1366px) {
  .about .row {
    margin: 8px 40px 0 30px;
  }
  .about .row .text-about {
    line-height: 1.8em;
    font-size: 1rem;
  }
  .about .row .info-list ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media (min-width: 1366px) {
  .about #content-about {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow-x: hidden;
  }
  .about .row {
    display: flex;
    flex-direction: column;
    margin: 12px 40px 0 30px;
  }
  .about .row .text-about {
    line-height: 1.8em;
    font-size: 1rem;
  }
  .about .row .info-list ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about .row .info-list ul span {
    font-size: 14px;
  }
  .about .fact-items {
    display: grid;
    grid-template-columns: 50% 45%;
    justify-content: center;
  }
  .about .fact-items .fact-item {
    max-width: 70%;
    line-height: 1.8em;
  }
  .about .fact-items .fact-item .fa-icon {
    font-size: 1.7rem;
    margin-left: 14px;
  }
  .about .fact-items .fact-item .fa-icon::after {
    content: "";
    position: absolute;
    left: -15px;
    bottom: -15px;
    width: 60px;
    height: 60px;
  }
  .about .fact-items .fact-item .fact-name {
    margin-top: 10px;
  }
  .about .fact-items .fact-item .grey-text {
    margin-bottom: 20px;
    position: relative;
  }
  .about .fan-fact::after {
    content: "";
    margin: 340px 0px 0 115px;
    position: absolute;
    width: 70%;
    height: 2px;
    transform: rotate(90deg);
    background: var(--line-cart);
  }
  .about .grey-text::before {
    content: "";
    margin: 130px 0px 0px 0px;
    position: absolute;
    width: 150%;
    height: 1px;
    background: var(--line-cart);
  }
}

.resume {
  background-color: var(--cart-bg);
  display: none;
}
.resume .resume-detailes {
  display: grid;
  grid-template-columns: 55% 50%;
  margin: 0px 30px 0 30px;
}
.resume .resume-detailes .resume-experience,
.resume .resume-detailes .resume-education {
  max-width: 80%;
}
.resume .resume-detailes .resume-experience .resume-title,
.resume .resume-detailes .resume-education .resume-title {
  display: flex;
  align-items: center;
}
.resume .resume-detailes .resume-experience .resume-title .icon,
.resume .resume-detailes .resume-education .resume-title .icon {
  font-size: 2rem;
  color: var(--green-color);
}
.resume .resume-detailes .resume-experience .resume-title .name,
.resume .resume-detailes .resume-education .resume-title .name {
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 0.6rem;
  line-height: 14px;
  color: var(--colorText);
  font-weight: var(--font-weight-name);
}
.resume .resume-detailes .resume-experience .resume-title .name::after,
.resume .resume-detailes .resume-education .resume-title .name::after {
  content: "";
  margin: 40px 0px 0px -140px;
  position: absolute;
  width: 50%;
  height: 1.5px;
  background: var(--line-cart);
}
.resume .resume-detailes .resume-experience .resume-items,
.resume .resume-detailes .resume-education .resume-items {
  margin-top: 10px;
}
.resume .resume-detailes .resume-experience .resume-items .p-line::after,
.resume .resume-detailes .resume-education .resume-items .p-line::after {
  content: "";
  margin: 30px 0px;
  position: absolute;
  width: 50%;
  height: 1.5px;
  background-image: var(--line-cart);
}
.resume .resume-detailes .resume-experience .resume-items .resume-item,
.resume .resume-detailes .resume-education .resume-items .resume-item {
  padding: 25px 0px 30px 0px;
}
.resume .resume-detailes .resume-experience .resume-items .resume-item .date-color,
.resume .resume-detailes .resume-education .resume-items .resume-item .date-color {
  color: var(--resume-date-green);
  border: 1px solid var(--resume-date-green);
  margin: 0 0 11px 0;
  padding: 0 5px;
  font-size: 11.5px;
  font-weight: 400;
  display: inline-block;
  border-radius: 5px;
}
.resume .resume-detailes .resume-experience .resume-items .resume-item .date,
.resume .resume-detailes .resume-education .resume-items .resume-item .date {
  margin: 0 0 11px 0;
  padding: 0 5px;
  font-size: 11.5px;
  color: var(--resume-date-grey);
  font-weight: 400;
  border: 1px solid var(--resume-date-grey);
  display: inline-block;
  border-radius: 5px;
}
.resume .resume-detailes .resume-experience .resume-items .resume-item .name,
.resume .resume-detailes .resume-education .resume-items .resume-item .name {
  font-size: 16px;
  font-weight: var(--font-weight-resumeName);
  color: var(--colorText);
}
.resume .resume-detailes .resume-experience .resume-items .resume-item .company,
.resume .resume-detailes .resume-education .resume-items .resume-item .company {
  margin: 0 0 11px 0;
  font-size: 14px;
  color: #999999;
  font-weight: 400;
}
.resume .resume-detailes .resume-experience .resume-items .resume-item p,
.resume .resume-detailes .resume-education .resume-items .resume-item p {
  color: var(--color-pharagraph);
  font-size: 15.6px;
}
@media (max-width: 1022px) {
  .resume .resume-detailes {
    display: block;
  }
  .resume .resume-detailes .resume-experience,
.resume .resume-detailes .resume-education {
    max-width: 100%;
  }
  .resume .resume-detailes .resume-experience .resume-title .name,
.resume .resume-detailes .resume-education .resume-title .name {
    font-size: 20px;
  }
}

.projects {
  background-color: var(--cart-bg);
  display: none;
}
.projects .work-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  text-align: center;
  margin-top: 2rem;
}
.projects .work-content #work1 img {
  width: 100%;
  height: 100%;
}
.projects .work-content #work2 img {
  width: 100%;
  height: 100%;
}
.projects .work-content .workPharagraph {
  color: var(--colorText);
  padding: 0.8rem;
  font-weight: var(--font-weightPharagraph);
}
.projects i {
  display: none;
}
@media (max-width: 488px) {
  .projects .work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects .work-content #work1 {
    width: 80%;
  }
  .projects .work-content #work2 {
    width: 80%;
  }
}
@media (min-width: 489px) and (max-width: 1022px) {
  .projects .work-content {
    display: flex;
    justify-content: space-around;
  }
  .projects .work-content #work1 {
    width: 40%;
  }
  .projects .work-content #work2 {
    width: 40%;
  }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .projects .title-work::after {
    content: "";
    margin: 252px 0px 0px -100px;
    position: absolute;
    width: 70%;
    height: 1.5px;
    transform: rotate(90deg);
    background: var(--line-cart);
  }
  .projects .work-content {
    display: flex;
    justify-content: space-around;
  }
  .projects .work-content #work1 {
    width: 40%;
  }
  .projects .work-content #work2 {
    width: 40%;
  }
}
@media (min-width: 1366px) {
  .projects .title-work::after {
    content: "";
    margin: 307px 0px 0px -75px;
    position: absolute;
    width: 70%;
    height: 1.5px;
    transform: rotate(90deg);
    background: var(--line-cart);
  }
  .projects .work-content #work1 {
    width: 19rem;
    height: 24rem;
    margin-bottom: 4rem;
  }
  .projects .work-content #work1 img {
    width: 100%;
    height: 100%;
  }
  .projects .work-content #work2 {
    width: 19rem;
    height: 13rem;
  }
  .projects .work-content #work2 img {
    width: 100%;
    height: 100%;
  }
  .projects figure.work-overlay {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: var(--bg);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  .projects .work-overlay * {
    box-sizing: border-box;
    transition: all 0.7s ease;
  }
  .projects .work-overlay * i {
    font-size: 20px;
    font-weight: medium;
  }
  .projects .work-overlay * a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1rem;
  }
  .projects .work-overlay * .worksLink {
    position: absolute;
    bottom: 50%;
    opacity: 0;
  }
  .projects .work-overlay:hover img {
    opacity: 0.6;
    transform: scale(1.1);
  }
  .projects figure.work-overlay:hover figcaption .worksLink {
    opacity: 1;
  }
}

.contact1 {
  background-color: var(--cart-bg);
  padding-bottom: 25px;
  display: none;
}
.contact1 .map {
  margin: 35px 30px 0 30px;
}
.contact1 .map iframe {
  width: 100%;
  height: 220px;
}
@media (max-width: 373px) {
  .contact1 .info-map {
    font-size: 13px;
  }
  .contact1 .info-map ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 30px;
    line-height: 2;
    color: var(--color-pharagraph);
  }
  .contact1 .info-map ul span {
    color: var(--colorText);
    font-weight: var(--font-weight-spanAbout);
  }
}
@media (min-width: 374px) and (max-width: 695px) {
  .contact1 .info-map ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 30px;
    line-height: 2;
    color: var(--color-pharagraph);
  }
  .contact1 .info-map ul span {
    color: var(--colorText);
    font-weight: var(--font-weight-spanAbout);
  }
}
@media (min-width: 695px) and (max-width: 725px) {
  .contact1 .info-map {
    margin: 15px 0px 0px 30px;
    font-size: 15px;
  }
  .contact1 .info-map ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 2.5rem;
    align-items: center;
    color: var(--color-pharagraph);
  }
  .contact1 .info-map ul span {
    color: var(--colorText);
    font-weight: var(--font-weight-spanAbout);
  }
  .contact1 .info-map span {
    font-size: 14px;
  }
}
@media (min-width: 726px) and (max-width: 1022px) {
  .contact1 .info-map {
    margin: 15px 30px 0px 30px;
    font-size: 16px;
  }
  .contact1 .info-map ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 2.5rem;
    align-items: center;
    color: var(--color-pharagraph);
  }
  .contact1 .info-map ul span {
    color: var(--colorText);
    font-weight: var(--font-weight-spanAbout);
  }
  .contact1 .info-map span {
    font-size: 16px;
  }
}
@media (min-width: 1023px) and (max-width: 1365px) {
  .contact1 ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 30px;
    line-height: 2;
    color: var(--color-pharagraph);
  }
  .contact1 ul span {
    color: var(--colorText);
    font-weight: var(--font-weight-spanAbout);
  }
}
@media (min-width: 1366px) {
  .contact1 .info-map {
    margin: 15px 30px 0px 30px;
  }
  .contact1 .info-map ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 2.5rem;
    align-items: center;
    color: var(--color-pharagraph);
  }
  .contact1 .info-map ul span {
    color: var(--colorText);
    font-weight: var(--font-weight-spanAbout);
  }
  .contact1 .info-map span {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
