//DEFAULT 375px pe 612px

.left-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--cart-bg);
  overflow: hidden;

  .slide {
    height: 50%;
    width: 100%;
    background-image: url("https://st3.depositphotos.com/1184748/16121/v/600/depositphotos_161213072-stock-video-abstract-digital-vertical-and-horizontal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.3rem 0.3rem 0 0;
  }

  .slide::before {
    content: "";
    position: absolute;
    left: -25%;
    bottom: 27%;
    width: 100%;
    height: 25%;
    transform: rotate(10deg);
    background-color: var(--cart-bg);
  }

  .slide::after {
    content: "";
    position: absolute;
    right: -25%;
    bottom: 27%;
    width: 100%;
    height: 25%;
    background-color: var(--cart-bg);
    transform: rotate(-10deg);
  }
  .my-image {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -110px;
    #my-img {
      border-radius: 100%;
      border: solid 0.2rem var(--avatar-border);
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  .left-container-text {
    @include flex(center, center, column);
    z-index: 2;
    position: relative;
    .title {
      font-size: 25px;
      font-weight: var(--font-weight-leftTitle);
      color: var(--colorText);
    }
    .subtitle {
      margin-top: 0.6rem;
      text-align: center;
      font-size: 16px;
      color: var(--green-color);
      animation: yourName 3000ms ease-in-out 0s forwards;

      @keyframes yourName {
        0% /* (from) */ {
          opacity: 0;
        }
        100% /* (to) */ {
          opacity: 1;
        }
      }
    }
    .fab {
      color: var(--colorText);
      padding: 8px;
      margin-top: 0.8rem;
      font-size: large;
    }
  }

  .footer-left {
    display: flex;
    justify-content: space-around;
    margin-top: 9em;
    color: var(--colorText);
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: var(--font-weight-footer);

    &::before {
      content: "";
      margin-top: 8px;
      position: absolute;
      width: 15.5%;
      height: 1px;
      transform: rotate(90deg);
      background: var(--line-cart);
    }
    &::after {
      content: "";
      margin-top: -20px;
      position: absolute;
      width: 100%;
      height: 1px;
      background: var(--line-cart);
    }
  }

  //SMALL
  @include media("<375px") {
    min-height: 600px;
    max-height: 600px;
  }

  //MOBILE M 375px

  @include media(">=375px", "<=425px") {
    min-height: 680px;
    max-height: 680px;
    .my-image {
      width: 160px;
    }

    .footer-left {
      margin-top: 13em;
    }

    .footer-left::before {
      content: "";
      margin-top: 80px;
    }
  }

  // MOBILE L 425px

  @include media(">=425px", "<=525px") {
    min-height: 625px;
    max-height: 625px;
    .my-image {
      width: 160px;

      #my-img {
        margin-left: 10px;
        max-width: 600px;
      }
    }

    .footer-left {
      margin-top: 100px;
      font-size: 13px;

      &::before {
        content: "";
        width: 55px;
      }
    }
  }

  //MOBILE L 525px

  @include media(">525px", "<=565px") {
    min-height: 625px;
    max-height: 625px;
    .my-image {
      width: 160px;

      #my-img {
        margin-left: 10px;
        max-width: 700px;
      }
    }

    .footer-left {
      margin-top: 100px;
      font-size: 13px;

      &::before {
        content: "";
        width: 55px;
      }
    }
  }

  //MOBILE L 565px

  @include media(">565px", "<=805px") {
    min-height: 625px;
    max-height: 625px;
    .my-image {
      width: 200px;

      #my-img {
        margin-left: 10px;
        max-width: 700px;
      }
    }

    .footer-left {
      margin-top: 70px;
      font-size: 13px;

      &::before {
        content: "";
        width: 55px;
      }
    }

    .slide::before {
      content: "";
      left: -20%;
    }

    .slide::after {
      content: "";
      right: -20%;
    }
  }

  //TABLET 805px

  @include media(">805px", "<=1005px") {
    min-height: 625px;
    max-height: 625px;
    .my-image {
      width: 210px;

      #my-img {
        margin-left: 10px;
        max-width: 700px;
      }
    }

    .slide {
      height: 250px;
    }

    .slide::before {
      content: "";
      bottom: 250px;
    }

    .slide::after {
      content: "";
      bottom: 250px;
    }

    .footer-left {
      margin-top: 100px;
      font-size: 16px;

      &::before {
        content: "";
        width: 55px;
      }
    }
  }

  //TABLET 1005px.............................

  @include media(">1005px", "<1024px") {
    min-height: 625px;
    max-height: 625px;

    .my-image {
      width: 210px;

      #my-img {
        margin-left: 10px;
        max-width: 700px;
      }
    }

    .slide {
      height: 250px;
    }

    .slide::before {
      content: "";
      bottom: 250px;
    }

    .slide::after {
      content: "";
      bottom: 250px;
    }

    .footer-left {
      margin-top: 100px;
      font-size: 16px;

      &::before {
        content: "";
        width: 55px;
      }

      &::after {
        content: "";
        width: 100%;
      }
    }
  }

  //LARGE TABLET

  @include media(">=1024px", "<desktop") {
    max-width: 28.25rem;
    height: 38rem;
    border-radius: 0.3rem;
    box-shadow: -10px -10px 0px 2px var(--box-shadow-left);

    .my-image {
      #my-img {
        border-radius: 100%;
        border: solid 0.2rem var(--avatar-border);
        width: 100%;
        height: 150px;
        position: relative;
      }
    }
    .left-container-text {
      .title {
        font-size: 34px;
      }
      .subtitle {
        margin-top: 0.6rem;
        font-size: 18px;
      }
    }

    .footer-left {
      margin-top: 80px;
      font-size: 0.9em;

      .cv,
      .contact {
        transition: 0.2s;
        cursor: pointer;
      }

      .cv:hover,
      .contact:hover {
        color: var(--green-color);
        font-weight: var(--font-weight-footer);
        transition-timing-function: ease-in;
      }
    }

    .footer-left::before {
      content: "";
      margin-top: 20px;
    }
  }

  //DESKTOP

  @include media(">=desktop") {
    width: 31.25rem;
    height: 40.5rem;
    border-radius: 0.3rem;
    box-shadow: -10px -10px 0px 2px var(--box-shadow-left);

    .my-image {
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      margin-top: -110px;
      #my-img {
        border-radius: 100%;
        border: solid 0.2rem var(--avatar-border);
        width: 100%;
        height: 150px;
        position: relative;
      }

      &::before {
        content: "";
        position: absolute;
        top: 34.6%;
        left: 169.5px;
        width: 29%;
        height: 150px;
        border-radius: 100%;
        background: var(--image-shadow);
      }
    }
    .left-container-text {
      .title {
        font-size: 34px;
      }
      .subtitle {
        margin-top: 0.6rem;
        font-size: 18px;
      }
    }

    .footer-left {
      margin-top: 22%;
      font-size: 0.9em;

      .cv,
      .contact {
        transition: 0.2s;
        cursor: pointer;
      }

      .cv:hover,
      .contact:hover {
        color: var(--green-color);
        font-weight: var(--font-weight-footer);
        transition-timing-function: ease-in;
      }
    }

    .footer-left::before {
      content: "";
      margin-top: 20px;
    }
  }
}
