.right-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--cart-bg);
  position: relative;
  z-index: -1;

  .titles {
    font-size: 23px;
    color: var(--colorText);
    font-weight: var(--heading-weight);
    min-height: 50px;
    line-height: 19px;
    padding: 20px;
    margin: 20px;

    .first-word {
      color: var(--green-color);
    }

    .first-word::before {
      content: "";
      position: absolute;
      left: 27px;
      top: 37px;
      width: 30px;
      height: 30px;
      background: linear-gradient(
        to left,
        rgba(255, 0, 0, 0),
        var(--green-color)
      );
      border-radius: 50%;
      z-index: 1;
      opacity: 0.4;
    }

    &::before {
      content: "";
      margin: 45px 0px 0 -100px;
      position: absolute;
      width: 120%;
      height: 2px;
      background: var(--line-cart);
    }
  }

  .title-line::after {
    content: "";
    margin: 302px 0px 0 -25px;
    position: absolute;
    width: 70%;
    height: 1.5px;
    transform: rotate(90deg);
    background: var(--line-cart);
  }

  //DESKTOP

  @include media(">desktop") {
    width: 46rem;
    height: 38.3rem;

    &::before {
      content: "";
      background-color: transparent;
      position: absolute;
      z-index: 5;
      width: 5%;
      height: 100%;
      margin-left: -40px;
      box-shadow: 12px 0px 12px 2px var(--box-shadow);
    }
  }
}
