input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.label {
  background-color: var(--cart-bg);
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  height: 60px;
  width: 74px;

  .fa-moon {
    font-size: 0.8rem;
  }

  .ball {
    position: absolute;
    top: 20px;
    left: var(--left);
    height: 18px;
    width: 20px;
  }

  // MEDIA 425px
  @include media("<=425px") {
    width: 55px;
    font-size: 0.6rem;
    background: none;

    .fa-moon {
      width: 19px;
      margin-bottom: 23px;
    }

    .ball {
      top: 30px;
    }
  }

  //MEDIA 400px to 552px

  @include media(">=425px", "<=552px") {
    width: 55px;
    font-size: 0.7rem;

    .fa-moon {
      width: 17px;
      margin-bottom: 10px;
    }

    .ball {
      top: 35px;
    }
  }
}

.mode-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7px;
  font-size: 14px;
  color: var(--colorText);
  font-weight: var(--font-weight-icon);
  text-transform: uppercase;
}

.ball::before {
  content: "off";
  position: absolute;
  z-index: 5;
  color: var(--colorText);
  display: var(--content-dark-none);
}

.ball::after {
  content: "on";
  position: absolute;
  z-index: 5;
  color: var(--colorText);
  display: var(--content);
}
